.cart {
  h2 {
    margin-bottom: 15px;
  }

  .cart-info {
    display: block;
    font-style: oblique;
    margin-bottom: 8px;
  }

  .cart-amount {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
}
